name: Sonarqube-called

on:
#   push:
#     branches:
#       - master
      
  #workflow_dispatch:
  workflow_call:
    inputs:
        SONAR_HOST_URL:
          required: true
          type: string
        SONAR_PROJECT_KEY:
          required: true
          type: string
    secrets:
        SONAR_TOKEN:
          required: true
    
jobs:
  scan:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 #Shallow clones shoud be disabledfor a better relevancy of analysis
    - name: Setup JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache SonarQube packages
      uses: actions/cache@v1
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build and analyze
      env:
         #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         SONAR_HOST_URL: ${{ inputs.SONAR_HOST_URL }}
         SONAR_PROJECT_KEY: ${{ inputs.SONAR_PROJECT_KEY }}
      run: |
       echo "Secret Value: ${{ secrets.SONAR_TOKEN }}"
       echo "Host URL: ${{ inputs.SONAR_HOST_URL }}"
       echo "Project Key: ${{ inputs.SONAR_PROJECT_KEY }}"
       mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -f ./my-app -Dsonar.host.url=${{inputs.SONAR_HOST_URL}} -Dsonar.token=${{secrets.SONAR_TOKEN}} -Dsonar.projectKey=${{ inputs.SONAR_PROJECT_KEY }}"
#      mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.host.url=${{inputs.host_url}} -Dsonar.token=${{inputs.token}}
